.index__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 9px 20px;
  font-size: 16px;
  font-family: Arial;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 0;
  cursor: pointer;
  transition: 0.4s ease 0s;
}

.index__btn--blue {
  color: rgb(185, 152, 103);
  border: 2px solid rgb(41, 64, 87);
}

.index__btn--blue:hover {
  color: #fff;
  background-color: rgb(41, 64, 87);
}

.index__btn--yellow {
  color: rgb(41, 64, 87);
  border: 2px solid rgb(185, 152, 103);
}

.index__btn--yellow:hover {
  color: #fff;
  background-color: rgb(185, 152, 103);
}
